@import "src/styles.scss";

.navbar-container {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  background-image: linear-gradient(260deg, $sky-blue 0%, $primary-color 100%);
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
  padding-bottom: .25em;
}

.navbar-items {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 1em;

   a { text-decoration: none; }
  li { padding-left: 1em; }

  .fab {
    font-size: 1.5em;
    color: $sky-blue;
  }

  @media #{ $mq-xxsmall } {
    padding: 0;
  }
}

.app-logo {
  flex: .5;

  @media #{$mq-max-small} { flex: 1; }

  .fas {
    font-size: 3.5em;
    width: 1.5em;
    color: $sky-blue;

    @media #{ $mq-xxsmall } and (max-width: 40em) {
      font-size: 2.5em;
    }
  }
}

.cart-navbar-logo {
  flex: 2;
  @media #{$mq-max-small} { display: none; }
}

.badge {
  position: relative;
  background-color: $beige;
  right: 3px;

  @media #{$mq-max-small} { left: .5em; }
}

.squash-navbar-header {
  display: block;
  flex: 3.5;
  color: $primary-color;
  text-shadow: 2px 2px $sky-blue;

  @media #{$mq-max-xsmall} { display: none; }

  @media #{$mq-xsmall} and (max-width: 52.50em) {
    flex: 2;
  }
}

.dropdown-btn {
  cursor: pointer;
}

.dropdown-navbar-wrapper {
  flex: .5;
    a {
      color: $primary-color;
      font-weight: bold;
    }
  @media #{$mq-max-small} { display: none; }
}

.login-btn {
  flex: 0;

  @media #{$mq-max-small} { display: none; }
}

.dropdown-content {
  border-radius: .5em;
  border: none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 1em;
  margin: .5em 0;
  width: max-content;
    li {
      font-size: 1em;
    }
    a { color: darkgray; }
    a:hover { color: $primary-color; }

}

.logout-btn {
  color: #f03f35 !important;
  cursor: pointer;
}
.logout-btn:hover { color: red; }
.menu-overlay { display: none; }

@media #{$mq-max-small} {
  .bar-1, .bar-2, .bar-3 {
    height: 5px;
    background-color: $primary-color;
    margin: 6px 0;
    border-radius: 1em;
  }

  .bar-1 { width: 1em; }
  .bar-2 { width: 1.5em; }
  .bar-3 { width: 2em; }

  .menu-overlay {
    display: block;
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: $primary-color;
    overflow-x: hidden;
    transition: .5s ease-in-out;

    .overlay-items {
      position: relative;
      margin: 4.5em 0;
      text-align: center;
      padding: 0 1.5em;
      list-style: none;
      display: block;
      transition: 0.3s;
    }

    a {
      color: $sky-blue;
      text-decoration: none;
    }

    a:hover { color: $gray; }

    hr {
      background-color: $sky-blue;

      @media #{$mq-xxsmall} {
        width: 25%;
      }
    }

    .close-btn {
      display: none;
      color: $sky-blue;
      text-decoration: none;
      position: absolute;
      margin: 0;
      top: 0;
      right: 1em;
      font-size: 36px;
      transition: all .2s ease-in-out;
    }

    .user-name {
      font-size: 1.25em;
      color: $sky-blue;
      text-align: center;
      margin: 1em 0;
    }
  }
}
