<div class="navbar-container">
  <ul class="navbar-items">
    <a routerLink="/" class="app-logo">
      <i class="fas fa-spinner"></i>
    </a>
    <li class="cart-navbar-logo">
      <a routerLink="/shopping-cart">
        <i class="fab fa-opencart"></i>
        <span class="badge badge-warning badge-pill" *ngIf="cart$ | async as cart">
          {{ cart.itemsTotalCount }}
        </span>
      </a>
    </li>
    <li class="squash-navbar-header"><h3>Squash Essentials</h3></li>
    <ng-template #anonymousUser>
      <li class="login-btn">
        <a class="btn btn-primary" (click)="reload()" routerLink="/login">Login</a>
      </li>
    </ng-template>
    <li
      ngbDropdown
      class="dropdown-navbar-wrapper"
      *ngIf="appUser; else anonymousUser">
      <a ngbDropdownToggle class="dropdown-btn">
        {{ appUser.name | titlecase }}
      </a>
      <div ngbDropdownMenu class="dropdown-content">
        <li><a routerLink="/my-orders">My Orders</a></li>
        <ng-container *ngIf="appUser.isAdmin">
          <li><a routerLink="/admin/orders">Manage Orders</a></li>
          <li><a routerLink="/admin/products">Manage Products</a></li>
        </ng-container>
        <hr>
        <li><a class="logout-btn" (click)="logout()">Logout</a></li>
      </div>
    </li>

    <li id="menu-icon" class="menu-bars">
      <div (click)="openSidebar()">
        <div class="bar-1"></div>
        <div class="bar-2"></div>
        <div class="bar-3"></div>
      </div>
    </li>
  </ul>
</div>

<div id="overlay" class="menu-overlay">
    <a href="javascript:void(0)"
      class="close-btn"
      id="closeBtn"
      (click)="closeSidebar()">
      &times;
    </a>
    <div class="overlay-items">
        <div
        class="user-name"
        *ngIf="appUser; else anonymousUser">
        <h5>{{ appUser.name | titlecase }}</h5>
       </div>
      <div><a routerLink="/login" (click)="reload()">Login</a></div>
      <div class="cart-logo">
        <a routerLink="/shopping-cart" (click)="reload()">
          <span>My Cart</span>
          <span class="badge badge-warning badge-pill" *ngIf="cart$ | async as cart">
            {{ cart.itemsTotalCount }}
          </span>
        </a>
      </div>
      <div><a routerLink="/my-orders" (click)="reload()">My Orders</a></div>
      <div *ngIf="appUser">
        <ng-container *ngIf="appUser.isAdmin">
          <div><a routerLink="/admin/orders" (click)="reload()">Manage Orders</a></div>
          <div><a routerLink="/admin/products" (click)="reload()">Manage Products</a></div>
        </ng-container>
        <hr>
        <div (click)="reload()"><a class="logout-btn" (click)="logout()">Logout</a></div>
      </div>
    </div>
  </div>
