.navbar-items {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 1em;
   a { text-decoration: none; }
  li {
    padding-left: 1em;
  }
  .fab {
    font-size: 1.5em;
    color: navy;
  }
  .fas {
    font-size: 3.5em;
    width: 1.5em;
    color: navy;
  }
}

.cart-logo { flex: 1; }

.badge {
  position: relative;
  right: 3px;
}

.dropdown-btn {
  cursor: pointer;
}

.dropdown-wrapper {
  flex: .22; 
  a {
    color: navy;
    font-weight: bold;
  }
  a:hover { color: rgba(16, 8, 171, 0.85); }
}

.dropdown-content {
  border-radius: .5em;
  border: none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 1em;
  margin: .5em;
  width: max-content;
    li {
      font-size: 1em;
    }
    a {
      color: gray;
      font-weight: 400;
    }
    a:hover { color: navy; }
}
