<div class="navbar-container">
  <ul class="navbar-items">
    <a routerLink="/">
      <i class="fas fa-spinner"></i>
    </a>
    <li class="cart-logo">
      <a routerLink="/shopping-cart">
        <i class="fab fa-opencart"></i>
        <span class="badge badge-warning badge-pill" *ngIf="cart$ | async as cart">
          {{ cart.itemsTotalCount }}
        </span>
      </a>
    </li>
    <li class="squash-logo-text"><h3>Squash Essentials</h3></li>
    <ng-template #anonymousUser>
      <li class="login-btn">
        <a class="btn btn-primary" routerLink="/login">Login</a>
      </li>
    </ng-template>
    <li
      ngbDropdown
      class="dropdown-wrapper"
      *ngIf="appUser; else anonymousUser">
      <a ngbDropdownToggle class="dropdown-btn">
        {{ appUser.name | titlecase }}
      </a>
      <div ngbDropdownMenu class="dropdown-content">
        <li><a routerLink="/my-orders">My Orders</a></li>
        <ng-container *ngIf="appUser.isAdmin">
          <li><a routerLink="/admin/orders">Manage Orders</a></li>
          <li><a routerLink="/admin/products">Manage Products</a></li>
        </ng-container>
        <hr>
        <li><a class="logout-btn" (click)="logout()">Logout</a></li>
      </div>
    </li>
  </ul>
</div>
