@import "src/styles.scss";

.login-wrapper {
  display: flex;
  flex-direction: column;
  margin: 8em 0;
  align-items: center;
  text-align: center;

    a {
      color: $primary-color;
      transition: all .3s ease-in-out;
    }
    a:hover {
      text-decoration: none;
      color: $sky-blue;
    }
    form, .login-google-btn {
      width: 30%;

      @media #{$mq-xxsmall} { width: 100%; }
      @media (min-width: 540px) { width: 75%; }
      @media #{$mq-xsmall} { width: 65%; }
      @media (min-width: 740px) { width: 55%; }
      @media #{$mq-small} { width: 45%; }
      @media (min-width: 1000px) { width: 35%; }
      @media #{$mq-medium} { width: 30%; }
    }
    .login-btn { width: 100% }
    .login-btn, .login-google-btn { transition: all .3s ease-in-out; }
    .login-btn:hover, .login-google-btn:hover {
      box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
      color: $sky-blue;
    }
}
