.admin-products-wrapper {
  margin: 8em 0;
    img {
      border-radius: 100%;
      width: 5em;
    }
    .btn { background-color: navy; }
    .btn-primary:hover { background-color: rgba(4, 26, 173, 0.99); }
}
