.admin-products-wrapper {
  margin: 2.5em;
    img {
      border-radius: 100%;
      width: 5em;
    }
    .btn { background-color: navy; }
    .btn-primary:hover { background-color: rgba(4, 26, 173, 0.99); }
    // .data-table-box { position: unset !important; }
    // .product-table { position: none; }
}
