<div class="admin-products-wrapper">
  <p>
    <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
  </p>

  <p>
    <input
      #query
      (keyup)="filter(query.value)"
      class="form-control" type="text" placeholder="Search Product...">
  </p>

  <data-table
    [items]="items"
    [itemCount]="itemCount"
    (reload)="reloadItems($event)"
    class="product-table">

    <data-table-column
      [property]="'imageUrl'"
      [resizable]="true">

      <ng-template #dataTableCell let-item="item">
        <img [src]="item.imageUrl" alt="">
      </ng-template>

    </data-table-column>

    <data-table-column
      [property]="'brand'"
      [header]="'Brand'"
      [sortable]="true"
      [resizable]="true">

    </data-table-column>

    <data-table-column
      [property]="'item'"
      [header]="'Item'"
      [sortable]="true"
      [resizable]="true">

    </data-table-column>

    <data-table-column
      [property]="'price'"
      [header]="'Price'"
      [sortable]="true"
      [resizable]="true">

      <ng-template #dataTableCell let-item="item">
        *{{ item.price | currency:'USD':'symbol' }}
      </ng-template>

    </data-table-column>

    <data-table-column [property]="'key'">

      <ng-template #dataTableCell let-item="item">
        <a [routerLink]="['/admin/products/', item.key]">Edit</a>
      </ng-template>

    </data-table-column>
  </data-table>

  <div>*<b><i>Prices do not reflect real market value</i></b></div>

</div>
