@import 'src/styles.scss';

.product-form-container {
  display: flex;
  margin: 2em;
}

.product-form-item { flex: 5; }
.col { flex: 1.5; }
.card-wrapper { flex: 4; }
.delete-btn { color: red; }

.save-btn {
  background-color: navy;
  margin: 0 .5em 0 0;
}
