@import "src/styles.scss";

.list-group {
  a.active {
    background-color: $primary-color;
    border-color: $primary-color;
  }
  a:hover { background-color: lightgray; }

  @media #{$mq-xxsmall} and (max-width: 1000px) {
    flex-direction: column;
    width: 100%;
    font-size: 1em;
    text-align: center;
    box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.2);

      .list-group-item { width: 20em; }
  }
}
