<h2>
  Your Shopping Cart
</h2>

<ng-container *ngIf="cart$ | async as cart">
  <p>There are {{ cart.itemsTotalCount }} items in your cart.</p>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let productId of cart.productIds">
        <td>
          <img [src]="cart.items[productId].product.imageUrl" alt="Item Image">
        </td>
        <td>{{ cart.items[productId].product.item }}</td>
        <td>{{ cart.items[productId].quantity }}</td>
        <td>{{ cart.items[productId].product.price | currency:"USD":symbol }}</td>
      </tr>
    </tbody>
  </table>
</ng-container>
