.shopping-cart-wrapper {
  display: grid;
  justify-content: center;
  margin: 6em 0;
    .fas {
      font-size: 10em;
      color: navy;
    }
    p {
      text-align: center;
      font-size: 2em;
      margin: .5em 0;
      color: darkgrey;
    }
}

.cart-table-wrapper {
  margin: 1.5em;
  width: 75%;
    img {
      border-radius: 100%;
      width: 5em;
    }
}
