<div *ngIf="cart$ | async as cart">

  <ng-template #emptyCart>
    <div class="shopping-cart-wrapper">
      <i routerLink="/" class="fas fa-cart-plus"></i>
      <p>Your cart's empty</p>
    </div>
  </ng-template>

  <div class="cart-table-wrapper" *ngIf="cart.itemsTotalCount > 0; else emptyCart">
    <h2>Shopping Cart</h2>
    <p>You have <b>{{ cart.itemsTotalCount }}</b> items in your cart.</p>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Product</th>
          <th class="text-center" style="width: 14.5em;">Quantity</th>
          <th class="text-right" style="width: 12.5em;">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cartItem of cart.items">
          <td>
            <img [src]="cartItem.imageUrl" alt="Item Image">
          </td>
          <td>{{ cartItem.item }}</td>
          <td>
            <product-quantity [product]="cartItem" [shopping-cart]="cart"></product-quantity>
          </td>
          <td class="text-right">
            {{ cartItem.totalPrice | currency:"USD":symbol }}
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th class="text-right">
            {{ cart.totalPrice | currency:"USD":symbol }}
          </th>
        </tr>
        <tr>
          <td class="text-left">
            <button
            (click)="clearCart()"
            class="btn btn-light btn-sm">Clear Shopping Cart</button>
          </td>
          <td></td>
          <td></td>
          <td class="text-right">
            <a
              routerLink="/check-out"
              class="btn btn-primary btn-sm">Check Out</a>
          </td>
        </tr>
      </tfoot>
    </table>
    </div>
</div>
