<div class="product-form-container">
  
  <div class="product-form-item">
    <form #f="ngForm" (ngSubmit)="save(f.value)">
      <div class="form-group">
        <label for="brand">Brand Name</label>
        <input #brand="ngModel" [(ngModel)]="product.brand" name="brand" id="brand" type="text" class="form-control" required>
        <div class="alert alert-danger" *ngIf="brand.touched && brand.invalid">
          Brand name is required.
        </div>
      </div>

      <div class="form-group">
        <label for="item">Item Name</label>
        <input #item="ngModel" [(ngModel)]="product.item" name="item" id="title" type="text" class="form-control" required>
        <div class="alert alert-danger" *ngIf="item.touched && item.invalid">
          Item name is required.
        </div>
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
          <input
            #price="ngModel"
            [(ngModel)]="product.price"
            name="price"
            id="price"
            type="number"
            class="form-control"
            required
            [min]="0">
        </div>
        <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
          <div *ngIf="price.errors.required">Price is required</div>
          <div *ngIf="price.errors?.min">Price minimum is $0.00</div>
        </div>
      </div>

      <div class="form-group">
        <label for="category">Category</label>
        <select #category="ngModel" [(ngModel)]="product.category" name="category" id="category" class="form-control" required>
          <option value=""></option>
          <option *ngFor="let c of categories$ | async" [value]="c.key">
            {{ c.payload.val().name }}
          </option>
        </select>
        <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
          Category is required.
        </div>
      </div>

      <div class="form-group">
        <label for="imageUrl">Image URL</label>
        <input
          #imageUrl="ngModel"
          [(ngModel)]="product.imageUrl"
          name="imageUrl"
          id="imageUrl"
          type="text"
          class="form-control"
          required
          url>
        <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
          <div *ngIf="imageUrl.errors.required">Image URL is required</div>
          <div *ngIf="imageUrl.errors?.url">Enter a valid URL</div>
        </div>
      </div>

      <button class="save-btn">Save</button>
      <button type="button" class="delete-btn" (click)="delete()">Delete</button>
    </form>
  </div>

  <div class="col"></div>

  <div class="card-wrapper">
    <product-card [product]="product" [show-action]="false"></product-card>
  </div>
</div>
