.product-form-container {
  display: flex;
  margin: 2em;
}

.form-wrapper {
  flex: .5;
}

.col-1 {
  flex: .1;
}

.card-wrapper {
  flex: .3;
  background-color: navy;
  color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: .5em;
    img {
      border-radius: 5px 5px 0 0;
    }
}
