<div class="user-orders-wrapper" *ngIf="orders$ | async as orders">

  <ng-template #showMsg>
    <div class="no-orders-msg">
      <h2>You have no orders</h2>
      <button routerLink="/" class="btn btn-primary">Shop Now</button>
    </div>
  </ng-template>

  <table class="table admin-orders-table" *ngIf="orders.length > 0; else showMsg">
    <tbody>
      <tr>
        <th>Customer Name</th>
        <th>Order Placed</th>
        <th>Order Details</th>
      </tr>
      <tr *ngFor="let o of orders">
        <td>{{ o.shipping.name | titlecase }}</td>
        <td>{{ o.datePlaced | date }}</td>
        <td><a [routerLink]="['/my-orders/order-details', o.key]">View</a></td>
      </tr>
    </tbody>
  </table>
</div>
