<p>
  <a routerLink="/admin/products/new">New Product</a>
</p>

<p>
  <input
    #query
    (keyup)="filter(query.value)"
    class="form-control" type="text" placeholder="Search Product...">
</p>

<div>
  <table class="table">
    <thead>
      <tr>
        <th>Brand</th>
        <th>Item</th>
        <th>Price</th>
        <th>Category</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of filteredProducts">
        <td>{{ p.brand }}</td>
        <td>{{ p.item }}</td>
        <td>{{ p.price | currency:'USD':'symbol' }}</td>
        <td>{{ p.category | titlecase }}</td>
        <td><a [routerLink]="['/admin/products', p.key]">Edit</a></td>
      </tr>
    </tbody>
  </table>
</div>
