<div class="cart-summary-card card-body card">
    <h4><b>Order Summary</b></h4>
    <p>You have {{ cart.itemsTotalCount }} items in your shopping cart.</p>
    <ul class="list-group">
      <li *ngFor="let cartItem of cart.items" class="list-group-item">
        {{ cartItem.quantity }} x {{ cartItem.item }}
        <div class="float-right">
          {{ cartItem.totalPrice | currency:'USD':'symbol' }}
        </div>
      </li>
      <li class="list-group-item">
          Total
        <div class="float-right">
          <b>{{ cart.totalPrice | currency:'USD':'symbol' }}</b>
        </div>
      </li>
    </ul>
</div>
