@import 'src/styles.scss';

.date {
  color: $beige;
  text-shadow: 2px 2px $primary-color;
  margin: .5em;
}

.card-header { color: $sky-blue; }

.card-text {
  img {
    border-radius: 100%;
    width: 10em;
  }
}
